<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xdxiaodao.spider.core.dao.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.github.xdxiaodao.spider.core.model.po.Book">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
    <result column="is_update" jdbcType="INTEGER" property="isUpdate" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="chapter_num" jdbcType="INTEGER" property="chapterNum" />
    <result column="volumn_num" jdbcType="INTEGER" property="volumnNum" />
    <result column="submit_time" jdbcType="VARCHAR" property="submitTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <insert id="addBook" keyProperty="id" useGeneratedKeys="true">
    <selectKey keyProperty="id" order="AFTER" resultType="int">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_book(id, name, url, cover_img, is_update, author, category, chapter_num, volumn_num, create_time, update_time, status)
    values (#{id}, #{name}, #{url}, #{coverImg}, #{isUpdate}, #{author}, #{category}, #{chapterNum}, #{volumnNum}, #{createTime}, #{updateTime}, #{status})
  </insert>
</mapper>