<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xdxiaodao.spider.core.dao.mapper.ChapterMapper">
  <resultMap id="BaseResultMap" type="com.github.xdxiaodao.spider.core.model.po.Chapter">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="book_chapter_index" jdbcType="INTEGER" property="bookChapterIndex" />
    <result column="volumn_chapter_index" jdbcType="INTEGER" property="volumnChapterIndex" />
    <result column="book_id" jdbcType="BIGINT" property="bookId" />
    <result column="volumn_id" jdbcType="BIGINT" property="volumnId" />
    <result column="content_size" jdbcType="INTEGER" property="contentSize" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>